{% if entry.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if entry.id %}
  {% assign title = entry.title | markdownify | strip_html %}
{% else %}
  {% assign title = entry.title %}
{% endif %}

<article class="entry h-entry">
  <!-- Custom Thumbnail Image-->
  <div class="entry-teaser-box">
    {% if teaser %}
    <img class="custom_image" src ="{{ entry.header.teaser | relative_url }}" style="border-radius: 6px;">
    {% else %}
    <img class="custom_image" src="/images/default_thumbnail.JPG" style="border-radius: 6px;">
    {% endif %}
  </div>
  <header class="entry-header">
    <h3 class="entry-title p-name">
      {% if entry.link %}
        <a class="u-bookmark-of" href="{{ entry.link }}">{{ title }}</a> <a href="{{ entry.url | relative_url }}" rel="bookmark"><span class="link-arrow">&rarr;</span></a>
      {% else %}
        <a href="{{ entry.url | relative_url }}" rel="bookmark">{{ title }}</a>
      {% endif %}
    </h3>

    <!-- <div class="entry-teaser-box">
      {% if teaser %}
      <img src="{{ entry.header.teaser | relative_url }}">
      {% endif %}
    </div> -->
  </header>
  {% unless page.show_excerpts == false %}
    <div class="entry-excerpt p-summary">
      {% if entry.content %}
      {{ entry.content | strip_html |truncatewords: 12, "..." }}
      {% endif %}
    </div>
  {% endunless %}
  {% if site.read_time or entry.date and page.layout != 'collection' %}
    <footer class="entry-meta">
      {% if site.read_time %}{% include read-time.html %}{% endif %}
      {% if entry.date %}{% include entry-date.html %}{% endif %}
    </footer>
  {% endif %}
</article>
