/* ==========================================================================
   Dark skin
   ========================================================================== */

/* Colors */
$background-color: #252a34 !default;
$text-color: #adb9c7 !default;
$primary-color: mix(#000, $background-color, 50%) !default;
$border-color: mix(#fff, $background-color, 20%) !default;
$code-background-color: mix(rgb(202, 196, 196), $background-color, 15%) !default;
$code-background-color-dark: mix(#000, $background-color, 20%) !default;
$form-background-color: mix(#000, $background-color, 15%) !default;
$footer-background-color: mix(#000, $background-color, 30%) !default;
$link-color: #3880df !default;
$link-color-hover: #fff !default;
$link-color: #3880df !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: mix(#000, $text-color, 20%) !default;
$navicon-link-color-hover: mix(#000, $background-color, 30%) !default;
$scrollbar-color: #45474c;
$scrollbar-track-color: #8b8b8b;
// 사이드바 scrollbar
$scrollbar-side-color: #45474c;
$scrollbar-side-track-color: #8b8b8b;
$top-background-color: #272d38;
// toc background color
$toc-background-color: #d0d0d1;
// blockquote
$block-background-color: #1f232a;
$table-border-color: #323336;
$form-border-color: #acadb0;


.author__urls.social-icons i,
.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa  {
  color: inherit;
}

.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}

/* dirt syntax highlighting (base16) */
$base00: #22242c; // background