/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  // display: block
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-5;
  border-collapse: collapse;
  overflow-x: auto;
  border: 1px solid $table-border-color;

  & + table {
    margin-top: 1em;
  }
}

thead {
  background-color: $table-border-color;
  border-bottom: 2px solid $table-border-color;
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: center;
}

td {
  padding: 0.5em;
  border: 1px solid $table-border-color;
  border-bottom: 1px solid $table-border-color;
}

tr,
td,
th {
  vertical-align: middle;
}